.page {
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  align-items: center;

  .info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
  }

  .navigation {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(8, 5, 4, 0.9) 0%, rgba(51, 51, 51, 0.9) 100%);
    padding: 10px;

    a, button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 3px;
      height: 100%;
      font-size: 12px;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.tools {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  img {

  }
}
