.page {
	height: 100%;
	justify-content: space-between;
}

.header {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
	align-items: center;

	.navigation {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		height: 60px;
		border: 1px solid #fff;
		border-radius: 16px;
		background: linear-gradient(180deg, rgba(8, 5, 4, 0.9) 0%, rgba(51, 51, 51, 0.9) 100%);
		padding: 15px;

		a,
		button {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
			height: 100%;
			margin-top: -12px;
			font-size: 12px;
			background-color: rgba(0, 0, 0, 0);
		}
	}
}

.tools {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	position: relative;
	bottom: -25px;
	width: 100%;
	height: 70px;

	button {
		background: none;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;

		img {
			width: 56px;
			height: 56px;
			padding: 5px;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 20px;
			background-color: #080504;
		}
	}

	.durability {
		width: 60%;
		background: #fff;
		height: 25px;
		position: relative;
		top: -8px;
		border-radius: 40px;
		clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;

		&::before {
			content: "";
			background: #080504;
			clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
			border-radius: 40px;
			width: calc(100% - 2px);
			position: absolute;
			height: calc(100% - 2px);
		}

		.fill {
			position: absolute;
			clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
			left: 2.5px;
			border-radius: 8px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			width: 60%;
			height: calc(100% - 2px);
			background: linear-gradient(269.79deg, #ffd701 -22.09%, #ea9908 94.38%);
		}
	}
}
