.buyDollars {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 10px 0 0 0;
}

.block {
  background: linear-gradient(180deg, rgba(8, 5, 4, 0.9) 0%, rgba(51, 51, 51, 0.9) 100%);
  padding: 15px 6px;
  border-radius: 16px;
  border: 1px solid #FFCE0D;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  gap: 15px;
}