.workers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;

  .worker {
    background: linear-gradient(180deg, rgba(8, 5, 4, 0.9) 0%, rgba(51, 51, 51, 0.9) 100%);
    border-radius: 16px;
    padding: 8px 8px 8px 8px;
    color: #fff;
    display: flex;
    height: 97px;
    gap: 5px;

    img {
      position: relative;
      top: -20px;
      width: 81px;
      height: 95px;
    }

    .infoHead {
      font-size: 14px;
      font-weight: 600;
      line-height: 16.71px;
      letter-spacing: -0.30000001192092896px;
      text-align: left;
    }

    .sub {
      color: #9C9B9B;
      font-size: 10px;
      font-weight: 400;
      line-height: 11.93px;
      letter-spacing: -0.30000001192092896px;
      text-align: left;
    }

    .infoFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 10px;

        .orange {
          color: #F6B409;
          font-size: 12px;
        }

        .gray {
          color: rgba(255, 255, 255, 0.7);
          font-size: 10px;
        }
      }
    }
  }
}