.info {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
	margin-bottom: 8px;
	position: relative;

	@media (max-width: 380px) {
		height: 55px;
	}

	@media (max-width: 380px) {
		height: 50px;
	}
}

.oilStorage {
	font-size: 20px;
	font-weight: 700;
	line-height: 23.87px;
	letter-spacing: -0.30000001192092896px;
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	width: 50%;
	height: 110%;
	background: #888;
	clip-path: polygon(0% 0%, 100% 1%, 78% 100%, 22% 101%);
	border-radius: 10px / 15px;
	background: url("/src/img/main/bg.png") no-repeat 0 0 / cover, linear-gradient(360deg, #000000 -6.41%, #333333 100%);
	border-top: 1px solid #fff;
	text-shadow: 0px 2px 4px #00000054;

	.fill {
		position: absolute;
		width: 100%;
		height: 50%;
		background: #ffce0d;
		bottom: 0;
	}
}

.infoSide {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	background: urL("/src/img/main/left.png") no-repeat 0 0 / contain;
	padding: 10px;
	color: #fff;
	gap: 5px;
	width: 33%;
	font-size: 15px;
	font-weight: 600;
	height: 110%;

	@media (max-width: 380px) {
		padding: 8px;
		font-size: 12px;

		img {
			width: 25px;
		}
	}

	span {
		font-size: 12px;
	}

	&.right {
		align-items: end;
		background: urL("/src/img/main/right.png") no-repeat 100% 0 / contain;
	}
}
