.switch {
  display: flex;
  padding: 4px;
  background: linear-gradient(180deg, rgba(8, 5, 4, 0.9) 0%, rgba(51, 51, 51, 0.9) 100%);
  border-radius: 8px;
  border-top: 1px solid #fff;
  width: 100%;
  min-height: 32px;
  margin-bottom: -15px;

  button {
    width: 50%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: #777;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(8, 5, 4, 0.9) 0%, rgba(51, 51, 51, 0.9) 100%);

    &.active {
      font-weight: 600;
      color: #000;
      background: linear-gradient(180deg, #FFCE0D 0%, #FFAF06 100%);
    }
  }
}