.upgrades {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0 0 0;
}

.upgrade {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 16px;
  height: 64px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(8, 5, 4, 0.9) 0%, rgba(51, 51, 51, 0.9) 100%);
  color: #fff;
  position: relative;

  img {
    position: absolute;
    top: -15px;
    left: 7px;
  }
}

.upgradeInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;

  div {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .level {
    font-size: 18px;
  }

  .locked {
    color: #000;
    background-color: #A5A5A5;
    padding: 5px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 10px;
  }
}